#dropCat {
    display: inline-block;
}

#dropCat button {
    padding: 5px 8px;
    border: none;
    cursor: pointer;
}

#dropCat .dropIcon{
    color:#13DBB7;
}

#dropCat a {
    display: block;
}

#dropCat a .editar{
    color: #13DBB7;
}

#dropCat .dropFilha {
    display: none;
    position: absolute;
    background-color: #F1EFEF;
    box-shadow: 2px 2px 2px hsls(0%, 0%, 0%, 0.8);
}

#dropCat:hover .dropFilha{
    display: block;
}

#dropCat a:hover{
    background-color:#D1D1D1;
}